.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #445565;

	overflow-y: scroll;

	.content {
		display: block;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		padding: 25px;
		color: #FFF;

		.title {
			font-size: 28px;
			font-weight: 600;
			padding-bottom: 15px;
		}

		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			display: inline-block;
			padding: 10px 15px;
			font-size: 18px;
			font-weight: 700;
		
			background: #4484C4;
			color: #FFF;
			border-radius: 8px;
			border: none;
			outline: none;
			appearance: none;
			cursor: pointer;
		
			transition: 0.4s ease-out;

			&:hover {
				background: #223343;
			}
		}

		.movie {
			display: flex;

			@media only screen and (max-width: 768px){
				flex-direction: column;
			}

			p {
				padding: 8px;
			}	
		}

		.details {
			width: 70%;

			@media only screen and (max-width: 768px){
				width: 100%;
			}
		}

		.rating {
			margin-bottom: 30px;

			ul {
				padding: 5px 0  5px 30px;
			}
		}

		.poster {
			display: flex;
			justify-content: center;
			margin: 0px -15px 30px;

			img {
				max-width: 300px;
				padding: 0px 15px;
			}
		}
	}
}
